
body{
    height: 100vh;
    width: 100vw;
    background: rgb(255,117,203);
    background: linear-gradient(0deg, rgba(255,117,203,1) 0%, rgba(255,58,58,1) 100%);
    position: relative;
    margin: 0;
    padding-top: 10px;
    box-sizing: border-box
}

#app-container{
    width: 45vw;
    height: 80vh;
    background-color: white;
    margin: auto;
    border-radius: 3%;
    box-shadow: 0 0 40px 0px #111010;
}

/*-------------------------------------------------------------------*/

/* to-do div */

#TO-DO{
    height: 10%;
    border-bottom: 2px solid rgb(157, 157, 157);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#TO-DO span{
    font-size: 4.5vh;
}

/*-------------------------------------------------------------------*/

/* form section */

form{
    height: 25%;
}

form label{
    font-size: 2vh;
    font-family: monospace;
    display: block;
    margin-bottom: 1px;
}

form div{
    position: relative;
    box-sizing: border-box;
}

form input{
    border: 0px;
    width: 12vw;
    font-size: 1rem;
}

/*-------------------------------------------------------------------*/

/* description */
#div-description{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 5px;
    padding-left: 20px;
    border-bottom: 2px solid rgb(157, 157, 157);
}

#div-description input{
    width: 30vw;
    height: 3.5vh;
    outline: 0;
}

/*-------------------------------------------------------------------*/

/* task-info */
#task-info{
    height: 50%;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid rgb(157, 157, 157);
}

#task-info span{
    color: grey;
}

/* category div */
#div-category{
    position: relative;
    display: flex;
    padding: 0px 6%;
    box-sizing: border-box;
    width: 50%;
    border-right: 2px solid rgb(157, 157, 157);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

#div-category i{
    transition: all 0.5s;
}

#category-text{
    outline: 0;
    height: 80%;
    font-size: 1.4rem;
    font-family: system-ui;
    cursor: pointer;
}

#category-text::placeholder{
    font-size: 1.4rem;
}

#category-list{
    position: absolute;
    background: #ff7f84;
    top: 84%;
    left: 5%;
    width: 40%;
    border-radius: 8px;
    z-index: 2;
}

#category-list ul{
    list-style: none;
    padding-left: 0%;
    margin: 0;
    border-radius: inherit;
}

.options{
    padding-left: 9%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.options p{
    margin: 0;
}

.options:hover{
    border-radius: inherit;
    background-color: red;
}

.hide{
    visibility: hidden;
}

.rotate{
    transform: rotate(-180deg);
}

/* due date */
#div-date{
    padding-top: 5px;
    padding-left: 20px;
    box-sizing: border-box;   
}

#div-date input{
    outline: 0;
    border-bottom: 1px dashed grey;
    margin-top: 5px;
}

/*-------------------------------------------------------------------*/

/* buttons */
#buttons{
    position: relative;
    height: 15%;
    border-bottom: 2px solid rgb(157, 157, 157);
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-btn{
    height: 50%;
    width: 20%;
    min-width: 20%;
    margin: 3px;
    color: aliceblue;
    cursor: pointer;
    border-radius: 15px;
    background: rgb(65,175,251);
    background: radial-gradient(circle, rgba(65,175,251,1) 0%, rgba(63,82,251,1) 100%);
}

/* display section */
#display-section{
    height: 49%;
    overflow-y: scroll;
}

#display-section::-webkit-scrollbar{
    display: none;
}

.list{
    padding-left: 0%;
    list-style: none;
    margin: 0;
}

.list li:nth-child(2n+1){
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(227,227,227,1) 100%);
}

.list-item{
    position: relative;
    padding-right: 10%;
    padding-left: 6%;
    padding-top: 2%;
    border-bottom: 2px dashed lightgrey;
    padding-bottom: 4%;
}

.task-details{
    display: inline-block;
}

.task-details p{
    margin-bottom: 5%;
    margin-top: 0;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.task-details span{
    font-size: 1.1rem;
    font-family: sans-serif;
    color: grey;
}

.color-div{
    position: absolute;
    border: 1px solid black;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    height: 25%;
    width: 25%;
    text-align: center;
    vertical-align: middle;
}

.color-div p{
    margin: 0;
    font-size: 1rem;
}

.PERSONAL{
    background: rgb(167,255,21);
    background: linear-gradient(90deg, rgba(167,255,21,1) 0%, rgba(250,255,22,1) 100%);
}

.WORK{
    background: rgb(255,21,21);
    background: linear-gradient(90deg, rgba(255,21,21,1) 0%, rgba(255,127,22,1) 100%);
}

.OTHERS{
    background: rgb(22,255,248);
    background: linear-gradient(90deg, rgba(22,255,248,1) 0%, rgba(21,187,255,1) 100%);
}

/* delete task */
a{
    text-decoration: none;
    position: absolute;
    top: 48%;
    left: 84%;
}

a i{
    color: red;
    padding: 3px;
    border-radius: 50%;
}

a i:hover{
    box-shadow: 0 0 4px 4px rgb(15, 239, 255);
}
